body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	background: lighten(black, 12);
	color: white;
	font-family: 'Lato';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}